---
import React from "./icons/React.astro"
import Tailwind from "./icons/Tailwind.astro"

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-gray-900 text-[#087EA4]",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-white text-[#38BDF8]",
    icon: Tailwind,
  },
}

const PROJECTS = [
  {
    title: "Minesweeper",
    description:
      "A web version of the classical game of minesweeper, made using recursive programming. It includes a settings pannel where you can configure the size of the board and the number of mines.",
    link: "#",
    github: "https://github.com/albertsube/minesweeper",
    image: "/projects/minesweeper.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
]
---

{
  PROJECTS.map(({ title, description, link, github, image, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-blue-400 mb-4">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex flex-wrap gap-4">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs px-4 py-2 ${tag.class}`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-xl shadow-white/10 my-8"
        src={image}
        alt={`Screenshot of the project ${title}`}
      />
    </article>
  ))
}
