---
import GitHub from "./icons/GitHub.astro";
import Web from "./icons/Web.astro";
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import CSS from "./icons/CSS.astro";
import Node from "./icons/Node.astro";
import Express from "./icons/Express.astro";
import MongoDB from "./icons/MongoDB.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-gray-900 text-[#087EA4]",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-white text-[#38BDF8]",
    icon: Tailwind,
  },
  CSS_MODULES: {
    name: "CSS Modules",
    class: "bg-white text-[#0c73b8]",
    icon: CSS,
  },
  CSS: {
    name: "CSS",
    class: "bg-white text-[#0c73b8]",
    icon: CSS,
  },
  NODE: {
    name: "Node.js",
    class: "bg-gray-900 text-[#539e43]",
    icon: Node,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-white text-black",
    icon: Express,
  },
  MONGODB: {
    name: "Mongo DB",
    class: "bg-slate-800 text-[#01ec64]",
    icon: MongoDB,
  },
};

const PROJECTS = [
  {
    title: "Health App",
    description:
      "A social network devolped around sharing healthy recipes with the world. Create your favorite recipes so all your friends can see them, or use it as your personal recipe book. Explore the most trending foods from all over the world and follow your favorite cookers. Perphaps you can be the next famous cooker to follow!",
    frontend: "https://github.com/FSDSTR1023/rojo-frontend",
    backend: "https://github.com/FSDSTR1023/rojo-backend",
    link: "https://health-app-nuclio.netlify.app/",
    image: "/projects/healthapp.webp",
    tags: [TAGS.REACT, TAGS.CSS_MODULES, TAGS.NODE, TAGS.EXPRESS, TAGS.MONGODB],
  },
  {
    title: "Minesweeper",
    description:
      "A web version of the classical game of minesweeper, made using recursive programming. It includes a settings pannel where you can configure the size of the board and the number of mines.",
    github: "https://github.com/albertsube/minesweeper",
    link: "https://minesweeper-albertsube.netlify.app",
    image: "/projects/minesweeper.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Poke API",
    description:
      "Front-end application based on the Pokemon API where you can explore all Pokemons and its evolutions. Full interactivity that allows navigation from one pokemon to the ones that best match against it, know all pokemon from a given type, see all the evolutions. See all the pokemons with an infinite scrolling featured with type filtering capabilities.",
    github: "https://github.com/albertsube/pokemon-react",
    link: "https://pokeapi-albertsube.netlify.app",
    image: "/projects/pokeapi.webp",
    tags: [TAGS.REACT, TAGS.CSS],
  },
];
---

<section class="flex flex-col gap-y-16">
  {
    PROJECTS.map(
      ({
        title,
        description,
        link,
        github,
        frontend,
        backend,
        image,
        tags,
      }) => (
        <article>
          <h3 class="text-2xl font-semibold text-blue-400 mb-4">{title}</h3>
          <p class="text-lg mb-4 text-pretty">{description}</p>
          <ul class="flex flex-wrap gap-4">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs px-4 py-2 ${tag.class}`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <img
            class="rounded shadow-xl shadow-white/10 my-8"
            src={image}
            alt={`Screenshot of the project ${title}`}
          />
          <footer class="flex flex-wrap gap-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                See source code
              </LinkButton>
            )}
            {frontend && (
              <LinkButton href={frontend}>
                <GitHub class="size-6" />
                See frontend code
              </LinkButton>
            )}
            {backend && (
              <LinkButton href={backend}>
                <GitHub class="size-6" />
                See backend code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Web class="size-6" />
                Go to web site
              </LinkButton>
            )}
          </footer>
        </article>
      )
    )
  }
</section>
